/* Custom styles for the navbar */
.navbar {
    background-color: #c46a6a; /* Green background */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar a.nav-link {
    color: rgb(39, 12, 26) !important; /* White text for links */
}

.navbar a.nav-link:hover {
    color: #1f4667 !important;
}
h2{
    padding: 10%:
}
